body {
    background: #c4b6b6;
}

.img1 {
    margin-top: 70px;
}

.section1 {
    background: #5c4d3c;
    width: 78%;
    height: 900px;
    margin-top: 8px;
    float: left;
}

.section2 {
    background-color: #1c5c5c;
    width: 20.5%;
    height: 450px;
    margin-top: 8px;
    margin: 8px;
    float: left;
}

.section3 {
    background-color: #1c5c5c;
    width: 20.5%;
    height: 435px;
    margin-top: 8px;
    margin: 8px;
    float: left;
}

#img1{
    width: 100%;
    height: 290px;
}

#nav2 {
    margin-top: 8px;
    
}

.conte {
    height: 750px;
}
.card {
  position: relative;
  grid-area: card;
  align-self: center;
  justify-self: center;
  overflow: hidden;
  display: block;
  width: 100%;
  max-width: 200px;
  height: 310px;
  font-size: var(--fontOrigin);
  border-radius: 8px;
  box-shadow: 0 16px 60px rgba(0, 0, 0, 0.3);
  cursor: pointer;
  -webkit-transition: all var(--speed) ease;
  transition: all var(--speed) ease;
  float: left;
  margin: 8px;
  
}

.card-img-overlay{
    display: none;
}

.card:hover {
  box-shadow: 0 40px 130px rgba(0, 0, 0, 0.6);
  -webkit-transform: scale(1.1, 1.1);
  transform: scale(1.03, 1.03);
}

.card:hover .card-img-overlay{
    background: #8383c7;
    display: block;
    opacity: 0.92;
    
}

.pie{
    background: #292828;
    color: aliceblue;
    width: 100%;
    height: 80px;
    float: left;
    margin-top: 10px;
    padding: 10px;
}

@media screen and (max-width:640px) {
    #nav1 {
        display: none;
    }
    .img1 {
        display: none;
    }
    .card{
        width: 45%;
        max-width: 200px;
        height: 250px;
    }
     .section1{
        width: 100%;
    }
    .section2{
        display: none;
    }
     .section3{
        display: none;
    }
}